/*! REVISIT */
/* .container {
} */

.profile-photo {
  width: 300px;
  height: auto;
}
.image-group {
  /* Center the contents */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: solid 4px #91277a; /*! DELETE */
}

.about-group {
  border: solid 4px #2f318b; /*! DELETE */
}

.title {
    padding: 10px 0;
}

.about-info {
  margin: 20px 5px;
}

.slogan {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;

    padding: 10px;
    border: solid 4px #2f318b; /*! DELETE */
}

