.cont-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cont-container h3 {
  font-size: 2.4em;
  line-height: 1.1;
  margin: 0 0 25px 0;
  color: var(--medium);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  color: var(--dark);
  background-color: var(--medium);
  padding: 30px 25px;
  width: 400px;
  height: auto;
}

.form-group form {
  display: flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-section input,
.form-section textarea {
  margin: 10px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px 2px var(--medium);
  background-color: var(--light);
  color: var(--dark);
}

.form-section label {
  font-weight: bold;
  color: var(--dark);
}

.form-section textarea {
  resize: none;
  height: 150px;
  width: auto;
}

.error,
.success {
  text-align: center;
  background-color: var(--medium-dark);
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 5px;
}

.form-group form button {
  margin: 10px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  filter: opacity(90%);
  outline: 0.1px solid;
  outline-color: var(--medium-dark);
  background-color: var(--always-light);
  color: var(--always-dark);
  text-shadow: 1px 1px 2px var(--opacity-medium);
  filter: drop-shadow(5px 3px 10px var(--opacity-medium));
  transition: all 0.2s ease-in;
}

.form-group form button:hover {
  outline-style: initial;
  outline-offset: 3px;
  outline-width: 3px;
  outline-color: var(--unique);
  background-color: var(--medium-dark);
  color: var(--light);
}

.form-group form button:active {
  background-color: var(--medium);
  color: var(--unique);
}

.success {
  color: var(--success);
  border: solid 1px var(--success);
}

.error {
  color: var(--warning);
  border: solid 1px var(--warning);
}
