footer {
  background-image: url(../assets/footer.png),
    linear-gradient(270deg, var(--primary) 0%, var(--dark) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: var(--opacity-medium);
  -webkit-box-shadow: 0px 5px 10px 1px var(--dark);
  -moz-box-shadow: 0px 5px 10px 1px var(--dark);
  box-shadow: 0px -5px 10px 1px var(--always-dark);
}

.footer-links-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  padding: 15px 50px;
}

.footer-links-group a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
  padding: 5px 15px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: var(--light);
  outline: 0.1px solid;
  outline-color: var(--medium-dark);
  background-color: var(--dark);
  cursor: pointer;
  transition: all 0.2s ease-in;
  filter: opacity(90%);
  filter: drop-shadow(5px 3px 10px var(--opacity-medium));
}

.footer-links-group a:hover {
  outline-style: initial;
  outline-offset: 5px;
  outline-width: 5px;
  border: 0.5px solid var(--btn-bd);
  outline-color: var(--unique);
  background-color: var(--medium);
  opacity: 100%;

  /*! Revisit */
  color: var(--unique); 
}

.footer-links-group a:active {
  background: var(--btn-right);
  background: linear-gradient(to right, var(--btn-left), var(--btn-right));
  color: var(--medium);
  opacity: 100%;
}

.footer-links-group a[data-descr]:hover::after {
  content: attr(data-descr);
}

.icon {
  margin: 0 5px;
}

.footer-text {
  margin-top: 5px;
  filter: drop-shadow(5px 3px 10px var(--opacity-medium));

  /*! Revisit */
  /* Font Style Here */
}

/* =========================== Media Queries ========================== */

/* Large smartphones */
@media screen and (max-width: 768px) {
  .footer-links-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-links-group a {
    margin: 10px 10px;
  }

  .footer-links-group a[data-descr]:hover::after {
    content: "";
  }
}
