header {
  background-image: url(../assets/header.png),
    linear-gradient(270deg, var(--primary) 0%, var(--dark) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0px 5px 10px 1px var(--dark);
  -moz-box-shadow: 0px 5px 10px 1px var(--dark);
  box-shadow: 0px 5px 10px 1px var(--always-dark);
}

header h1 {
  margin-left: 30px;
  filter: drop-shadow(5px 3px 10px var(--opacity-medium));
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-right: 30px;
  padding: 10px;
  filter: drop-shadow(5px 3px 10px var(--opacity-medium));
}

nav a {
  margin: 0 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  color: var(--light);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in;
  filter: opacity(90%);
  outline: 0.1px solid;
  outline-color: var(--medium-dark);
  background-color: var(--dark);
}

nav a:hover,
.util-group:hover {
  background: var(--btn-hover-right);
  background: linear-gradient(
    to right,
    var(--btn-hover-left),
    var(--btn-hover-right)
  );
  opacity: 100%;
  border: 0.5px solid var(--btn-bd);
  outline-color: var(--btn-outline);
  outline-style: initial;
  outline-offset: 5px;
  outline-width: 5px;
  color: var(--unique);
}

nav a:active,
.util-group:active {
  background: var(--btn-right);
  background: linear-gradient(to right, var(--btn-left), var(--btn-right));
  opacity: 85%;
  color: var(--medium);
}

/*! Revisit */
.util-group { 
  border: none;
  border-radius: 50px;
  color: var(--light);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in;
  filter: opacity(90%);
  outline: 0.1px solid;
  outline-color: var(--medium);
  background-color: var(--light);
  position: fixed;
  top: 7px;
  right: 7px;
  z-index: 2;
}

/* =========================== Media Queries ========================== */

/* Tablets */
@media screen and (max-width: 992px) {
  header {
    display: block;
    text-align: center;
  }

  header h1 {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    margin-right: 0;
  }

  nav a {
    margin: 0 10px;
  }

  .util-group {
    top: 25px;
    right: 20px;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav a {
    padding: 0;
    margin: 5px;
    width: 80%;
  }
}
