@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
}

.dark {
  --primary: #241546;
  --secondary: rgb(94, 14, 67);
  --tertiary: rgb(105, 20, 209);
  --i-text: rgb(27, 211, 211);
  --dark: #000000;
  --medium-dark: rgb(37, 37, 37);
  --medium: #bfbfbf;
  --light: #fff;
}

.light {
  --primary: #DBEAB9;
  --secondary: rgb(161, 241, 188);
  --tertiary: rgb(150, 235, 46);
  --i-text: rgb(228, 44, 44);
  --dark: #FFFFFF;
  --medium-dark: rgb(218, 218, 218);
  --medium: #404040;
  --light: #000;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  color: var(--light);
  background-color: var(--medium-dark);
}

/* MAIN CONTENT DISPLAYED HERE */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* height: 100vh; */ /*! REVISIT */

  border: solid 4px #f01616; /*! DELETE */
}

/* =========================ABOVE IS GOOD=========================== */

/*! =========================WORK ON BELOW=========================== */
a {
  font-weight: 500;
  color: var(--tertiary);
  text-decoration: inherit;
}

a:hover {
  color: var(--i-text);
}

footer {
  /* width: 100%; */
  border: solid 4px #f01616; /*! DELETE */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

h3 {
  font-size: 1.8em;
  line-height: 1.1;
}

p {
  font-size: 0.8em;
  line-height: 1.2;
}

/*!=========================== Button Style ========================== REVISIT*/

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
} */

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* =========================== Header ========================== */
/* Header.css for Header.jsx */
/* ============================================================ */

/* =========================== ABOUT ========================== */
/* About.css for About.jsx */
/* ============================================================ */

/* =========================== ABOUT ========================== */
/* Portfolio.css for Portfolio.jsx */
/* ============================================================ */

/* =========================== ABOUT ========================== */
/* Contact.css for Contact.jsx */
/* ============================================================ */

/* =========================== ABOUT ========================== */
/* Resume.css for Resume.jsx */
/* ============================================================ */

/* ! =========================== Media Queries ========================== DELETE */
/* Laptops */
@media screen and (max-width: 1024px) {
  body {
    background: #ff84d0;
  }
}

/* Tablets */
@media screen and (max-width: 992px) {
  body {
    background: #edff84;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
  body {
    background-color: #84ffa3;
  }

}

/* Small smartphones */
@media screen and (max-width: 576px) {
  body {
    background-color: #84c1ff;
  }
}

/* ! =========================== Media Queries ========================== DELETE */
/* Laptops */
/* @media screen and (max-width: 1024px) {
} */

/* Tablets */
/* @media screen and (max-width: 992px) {
} */
/* Large smartphones */
/* @media screen and (max-width: 768px) {
} */

/* Small smartphones */
/* @media screen and (max-width: 576px) {
} */
/* ! =========================== Media Queries ========================== DELETE */