@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
}

.dark {
  /* Lights and Darks */
  --light: #fff;
  --medium: #bfbfbf;
  --opacity-medium: #40404077;
  --medium-dark: rgb(37, 37, 37);
  --dark: #131313;

  /* Buttons Color Style*/
  --btn-hover-left: #c9d7eb;
  --btn-hover-right: #d4ddee;
  --btn-bd: #3f4c6b;
  --btn-outline: #606c88;
  --btn-left: #506188;
  --btn-right: #626e8a;

  /* Theme Color Style */
  --unique: rgb(228, 44, 44);
  --primary: #9e7528;

  /*! REVISIT */
  --secondary: rgb(94, 14, 67);
  --tertiary: rgb(105, 20, 209);
}

.light {
  /* Lights and Darks */
  --light: #000;
  --medium: #404040;
  --opacity-medium: #bfbfbf86;
  --medium-dark: rgb(218, 218, 218);
  --dark: #ffffff;

  /* Buttons Color Style*/
  --btn-hover-left: #1b4728;
  --btn-hover-right: #1b4233;
  --btn-bd: #c0b392;
  --btn-outline: #9f9377;
  --btn-left: #af9e77;
  --btn-right: #9d9175;

  /* Theme Color Style */
  --unique: rgb(27, 211, 211);
  --primary: #618adf;

  /*! REVISIT */
  --secondary: rgb(161, 241, 188);
  --tertiary: rgb(150, 235, 46);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --always-dark: #000000b9;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  color: var(--light);
  background-color: var(--medium-dark);
}

/* MAIN CONTENT DISPLAYED HERE */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  padding: 50px 0;
  border-radius: 20px;
  background-color: var(--dark);
  -webkit-box-shadow: 0px 1px 8px 2px var(--opacity-medium);
  -moz-box-shadow: 0px 1px 8px 2px var(--opacity-medium);
  box-shadow: 0px 1px 8px 2px var(--opacity-medium);
  z-index: 1;
}

/* =========================ABOVE IS GOOD=========================== */

/*! =========================WORK ON BELOW=========================== */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

h3 {
  font-size: 1.8em;
  line-height: 1.1;
}

h4 {
  font-size: 1.4em;
  line-height: 1.1;
}

h5 {
  font-size: 1.2em;
  line-height: 1.1;
}

p {
  font-size: 0.8em;
  line-height: 1.2;
}

/* ! =========================== Media Queries ========================== DELETE */
/* Tablets */
@media screen and (max-width: 992px) {
  h1 {
    color: var(--secondary);
  }
}
/* Large smartphones */
@media screen and (max-width: 768px) {
  h1 {
    color: var(--tertiary);
  }
}

/* =========================== HEADER ========================= */
/* Header.css for Header.jsx */
/* ============================================================ */

/* =========================== ABOUT ========================== */
/* About.css for About.jsx */
/* ============================================================ */

/* !=========================== PORTFOLIO ====================== */
/* Portfolio.css for Portfolio.jsx */
/* ============================================================ */

/* !=========================== CONTACT ======================== */
/* Contact.css for Contact.jsx */
/* ============================================================ */

/* !=========================== RESUME ========================= */
/* Resume.css for Resume.jsx */
/* ============================================================ */

/* =========================== FOOTER ========================= */
/* Footer.css for Footer.jsx */
/* ============================================================ */
